$background-base: linear-gradient(180deg, #1B1A1F 0%, #111013 99.09%);
$background-header-color: #151419;
$button-background-color: rgba(0,0,0,0);
$font-color-primary: #FFFFFF;
$font-color-normal: #9a9a9a;
$font-color-active: #3C59F0;
$image-button-color: rgba(0,0,0,0.16);
$image-title-color: rgba(0,0,0,0.48);

